<h1><%= t(".pass_reset") %></h1>

<p><%= t(".reset_click") %></p>

<%= link_to t(".reset_pass"), edit_password_reset_url(@user.reset_token,
  email: @user.email) %>

<p><%= t(".exprire") %></p>

<p><%= t(".ignore") %></p>
